

html{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 0;
    padding: 0;
    min-height: 100%;
    max-width: 100%;
    background-image: url(background.png);
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    
}
/* navigation bar */
nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-family: "bely-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-weight: 300;
    font-style: normal;
    margin-top: 30px;
} 

nav a{
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    z-index: 10;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.artwork{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.text{
    z-index: 1;
    color:#164A3E;
}
.circle{
    width: 118px;
    height: 118px;
    border-radius: 100%;
    background-color: #98FFD9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.spring{
    position: relative;
    width: 70%;
    margin: 0 auto;

}

h2{
    color:#164A3E;
    font-size: 90px;
    margin-left: 400px;
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    place-items: center;

}

.text1 {
    color:#164A3E; 
    font-size: 56px;
    text-align: left;
    width: 100%;
    margin-bottom: 60px;
    position: relative;
}




/* @media (min-width:850px) {
  .header h1 {
    font-size: 120px;
  }
} */

.S1{
    height: 500px;
    float: left;
    shape-margin: 30px;
    clip-path: ellipse(50% 40% at 50% 50%);
    shape-outside: ellipse(50% 40% at 50% 50%);
    clear: both;
}

.S3{
    height: 500px;
    float: right;
    shape-margin: 30px;
    clip-path: ellipse(47% 40% at 50% 50%);
    shape-outside: ellipse(47% 40% at 50% 50%);
    clear: both;


}

.S2{
    height: 500px;
    float: left;
    shape-margin: 30px;
    clip-path: ellipse(50% 40% at 50% 50%);
    shape-outside: ellipse(50% 40% at 50% 50%);
}

.S4{
    height: 500px;
    float: right;
    shape-margin: 30px;
    clip-path: ellipse(45% 50% at 50% 50%);
    shape-outside: ellipse(45% 50% at 50% 50%);
    clear: both;
}

.text {
    grid-area: text;
}

h2{
    font-family: "bely-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

@media (max-width: 800px) {
    .text {
      color: #03384c;
      font-size: 70px;
      margin-bottom: 80px;
    }
    .S1,.S2,.S3,.S4{
        width: 100%;
    }
    .spring{
        width: 100%;
    }
    h2{
        color: #03384c;
        font-weight: 700;
        text-align: center;
    }
}

