
@font-face {
    font-family: paytone;
    src: url("PaytoneOne-Regular.ttf")
}
@font-face {
    font-family: plaster;
    src: url("Plaster-Regular.ttf")
}
*{
    margin: 0;
    padding: 0;
}
html{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100%;
    max-width: 100%;
    background-image: url(background.png);
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    flex-direction: column;

    
}
/* navigation bar */
body, .navbar, .navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.navbar{
    position: fixed;
    right: 50px;
    top: 50px;
    padding: 20px;
    background-color: #FF016C;
    border-radius: 60px;
}
.navbar input{
    width: 60px;
    height: 60px;
    opacity: 0;
    cursor: pointer;
}
.navbar span{
    position: absolute;
    left: 35px;
    width: 40px;
    height: 4px;
    top: calc(50% - 10px);
    border-radius: 15px;
    background-color: aliceblue;
    pointer-events: none;
    transition: transform 0.3s ease-in-out,top 0.3s ease-in-out 0.3s;
}
.navbar span:nth-child(2){
    top: calc(50% + 6px);
}
.navbar ul{
    width: 0;
    overflow: hidden;
    transition: all 0.5s;
    white-space: nowrap;
}
.navbar ul li{
    list-style: none;
    margin: 0px 15px;
}
.navbar ul li a{
    font-family: paytone;
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    color: aqua;
}
.navbar ul li a:hover{
    color: #FFE;
}
.navbar input:checked ~ ul{
    width: 350px;
}

/* this is a part of animation that chat GPT did */
.navbar input:checked ~ span:nth-child(2){
    top: calc(50% - 2px);
    transform: rotate(-45deg);
    background-color: antiquewhite;
    transition: top 0.3s ease-in-out,transform 0.3s ease-in-out 0.3s;
}
.navbar input:checked ~ span:nth-child(3){
    top: calc(50% - 2px);
    transform: rotate(45deg);
    background-color: antiquewhite;
    transition: top 0.3s ease-in-out,transform 0.3s ease-in-out 0.3s;
}

.spring{
    position: relative;
    width: 70%;
    margin: 0 auto;

}

.content h2{
    color:#164A3E;
    font-size: 128px;
    margin-left: 400px;
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    place-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    font-family: "plaster";

}

.text1 {
    color:#164A3E; 
    font-size: 56px;
    text-align: left;
    width: 100%;
    margin-bottom: 60px;
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




/* @media (min-width:850px) {
  .header h1 {
    font-size: 120px;
  }
} */

.S1{
    height: 500px;
    float: left;
    shape-margin: 30px;
    clip-path: ellipse(50% 40% at 50% 50%);
    shape-outside: ellipse(50% 40% at 50% 50%);
    clear: both;
}

.S3{
    height: 500px;
    float: right;
    shape-margin: 30px;
    clip-path: ellipse(47% 40% at 50% 50%);
    shape-outside: ellipse(47% 40% at 50% 50%);
    clear: both;


}

.S2{
    height: 500px;
    float: left;
    shape-margin: 30px;
    clip-path: ellipse(50% 40% at 50% 50%);
    shape-outside: ellipse(50% 40% at 50% 50%);
}

.S4{
    height: 500px;
    float: right;
    shape-margin: 30px;
    clip-path: ellipse(45% 50% at 50% 50%);
    shape-outside: ellipse(45% 50% at 50% 50%);
    clear: both;
}

.text {
    grid-area: text;
}

h2{
    font-family: "bely-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

@media (max-width: 800px) {
    .text {
      color: #03384c;
      font-size: 70px;
      margin-bottom: 80px;
    }
    .S1,.S2,.S3,.S4{
        width: 100%;
    }
    .spring{
        width: 100%;
    }
    h2{
        color: #03384c;
        font-weight: 700;
        text-align: center;
    }
}

