@font-face {
    font-family: Lancelot;
    src: url("Lancelot-Regular.ttf")
}
body{
    background-color: #8C2727;
    background-size: cover; 
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    position: relative;
}
h1{
    color: #FFC909;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "plaster";
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
}
/* navigation bar */
nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-family: "Lancelot";
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-weight: 300;
    font-style: normal;
} 

nav a{
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    z-index: 10;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.artwork{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.text{
    z-index: 1;
    color: #D7A015;
    font-size: 35px;
}
.circle{
    width: 118px;
    height: 118px;
    border-radius: 100%;
    background-color: #C20E0E;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

/* rotate pictures display */

  :root {
    --post-spacing: 1.78vw;
    --post-size: 25vw;
    --mask-size: 100vw;
  }
  
  /* * {
    padding: 0;
    margin: 0;
    font-family: Millik, Arial, sans-serif;
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  } */

  #banner {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: calc(var(--post-size) / 0.72);
    -webkit-mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDE0NDAgNTAwIiBpZD0iaiI+CiAgPHBhdGggZmlsbD0icmdiKDIwMCwyMDAsMjAwKSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMCAwczI3NS4wNCAxMDAgNzIwIDEwMFMxNDQwIDAgMTQ0MCAwdjUwMHMtMjc1LjA0LTEwMC03MjAtMTAwUzAgNTAwIDAgNTAwVjB6Ii8+Cjwvc3ZnPgo=);
            mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDE0NDAgNTAwIiBpZD0iaiI+CiAgPHBhdGggZmlsbD0icmdiKDIwMCwyMDAsMjAwKSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMCAwczI3NS4wNCAxMDAgNzIwIDEwMFMxNDQwIDAgMTQ0MCAwdjUwMHMtMjc1LjA0LTEwMC03MjAtMTAwUzAgNTAwIDAgNTAwVjB6Ii8+Cjwvc3ZnPgo=);
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: center;
            mask-position: center;
    -webkit-mask-size: var(--mask-size);
            mask-size: var(--mask-size);
    /* position: absolute; */
    top: 10%;
  }
  
  #banner .img-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    float: left;
    height: calc(var(--post-size) / 0.72);
    -webkit-transform: translate(13.39vw, 0);
            transform: translate(13.39vw, 0);
    -webkit-animation: admission 1.5s;
            animation: admission 1.5s;
  }
  
  #banner .img-wrapper .img-box {
    height: 100%;
    display: inline-block;
    margin-right: var(--post-spacing);
    position: relative;
    cursor: pointer;
  }
  
  #banner .img-wrapper .img-box .info {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(23, 23, 23, 0.5);
    text-align: center;
    color: #fff9f1;
    font-size: 4rem;
  }
  
  #banner .img-wrapper .img-box img {
    width: var(--post-size);
    height: 100%;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  #banner .img-wrapper .img-box:last-child {
    -webkit-transform: translate(-160.68vw, 0);
            transform: translate(-160.68vw, 0);
  }
  
  .btn-group {
    height: 15vh;
    position: relative;
    left: 50%;
    bottom: 0%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .btn-group .btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #171717;
    background-color: #fff;
    margin: 10px;
    cursor: pointer;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .btn-group .btn:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: #000;
  }
  
  .btn-group .btn:hover .icon {
    fill: #fff;
  }
  
  .btn-group .btn .icon {
    width: 30px;
    height: 30px;
  }
  
  .btn-group .btn .right {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  
  .img-list {
    left: 0;
  }
  
  @-webkit-keyframes admission {
    0% {
      -webkit-transform: translate(140vw, 0);
              transform: translate(140vw, 0);
    }
    100% {
      -webkit-transform: translate(13.39vw, 0);
              transform: translate(13.39vw, 0);
    }
  }
  
  @keyframes admission {
    0% {
      -webkit-transform: translate(140vw, 0);
              transform: translate(140vw, 0);
    }
    100% {
      -webkit-transform: translate(13.39vw, 0);
              transform: translate(13.39vw, 0);
    }
  }




/* pic and text */
/* .Alter{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin-top: 50px;
    text-align: justify;
}
.Alter img{
    width: 1320px;
    height: 940px;
    flex-shrink: 0;
    flex-grow: 1;
    margin-right: 32px;
    margin-left: 50px;
}
.Alter .yellow{
    width: 400px;
    height: 940px;

}
.Alter .text1{
    flex-grow: 1;
    font-size: 50px;
    margin-right: 50px;
}
/* 黄符前后变化 */
/* .yellow:hover .text1 {
    opacity: 0; 
}

.yellow::after .text1 {
    opacity: 1; 
    pointer-events: none;
    transition: opacity 0.3s ease 0.5s; 
} */ 
.Alter {
    display: flex;
    align-items: center;
}

.Alter .alterpic img {
    width: 1320px;
    height: 940px;
    flex-shrink: 0;
    flex-grow: 1;
    margin-right: 32px;
    margin-left: 50px;
}

.Alter .yellow img {
    width: 500px;
    height: 1040px;
    position: relative;
    margin-left: 70px;
    transition: opacity 0.3s ease;
    opacity: 1; 

}
.Alter .hover{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Alter .yellow{
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.Alter .text1 {
    flex-grow: 1;
    font-size: 50px;
    margin-right: 50px;
    transition: opacity 0.3s ease;
}

/* 鼠标悬停时触发效果 */
.text1 {
  opacity: 0; 
}


.Alter:hover .yellow::after {
    content: "";
    display: block;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.3s ease 0.5s; 
}

