@font-face {
    font-family: plaster;
    src: url("Plaster-Regular.ttf")
}
@font-face {
    font-family: modak;
    src: url("Modak-Regular.ttf")
}
@font-face {
    font-family: paytone;
    src: url("PaytoneOne-Regular.ttf")
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("background.png");
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    flex-direction: column;
    /* margin: 0;
    padding: 0; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

h1{
    color: #FFF;
    font-size: 148px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "plaster";
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
    /* position: fixed;
    left: 0; */

}

.work{
    display: flex;
    justify-content: center;
    color: #FFE;
    font-size: 54px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-family: "paytone";
    margin-bottom: 30px;
    margin-top: 60px;

}
/* navagation bar */
body, .navbar, .navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.navbar{
    position: fixed;
    right: 50px;
    top: 50px;
    padding: 20px;
    background-color: #FF016C;
    border-radius: 60px;
}
.navbar input{
    width: 60px;
    height: 60px;
    opacity: 0;
    cursor: pointer;
}
.navbar span{
    position: absolute;
    left: 30px;
    width: 40px;
    height: 4px;
    top: calc(50% - 10px);
    border-radius: 15px;
    background-color: aliceblue;
    pointer-events: none;
    transition: transform 0.3s ease-in-out,top 0.3s ease-in-out 0.3s;
}
.navbar span:nth-child(2){
    top: calc(50% + 6px);
}
.navbar ul{
    width: 0;
    overflow: hidden;
    transition: all 0.5s;
    white-space: nowrap;
}
.navbar ul li{
    list-style: none;
    margin: 0px 15px;
}
.navbar ul li a{
    font-family: paytone;
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    color: aqua;
}
.navbar ul li a:hover{
    color: #FFE;
}
.navbar input:checked ~ ul{
    width: 350px;
}

/* this is a part of animation that chat GPT did */
.navbar input:checked ~ span:nth-child(2){
    top: calc(50% - 2px);
    transform: rotate(-45deg);
    background-color: antiquewhite;
    transition: top 0.3s ease-in-out,transform 0.3s ease-in-out 0.3s;
}
.navbar input:checked ~ span:nth-child(3){
    top: calc(50% - 2px);
    transform: rotate(45deg);
    background-color: antiquewhite;
    transition: top 0.3s ease-in-out,transform 0.3s ease-in-out 0.3s;
}

/* nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    /* gap: 200px; */
   
    /* font-family: "modak";
    font-weight: 400;
    font-style: normal; */
/* }  */

/* nav a{
    position: relative;
    
    margin-left: 100px;
    margin-right: 100px;
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    z-index: 10;
}
 */ 

/* .container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.artwork{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.text{
    z-index: 1;
}
.circle{
    width: 118px;
    height: 118px;
    border-radius: 100%;
    background-color: #FF016C;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;

}  */
.wholebox a{
    margin: 0 auto;
    width: 350px;
    height: 200px;
    display: contents;
}

.contain {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* 4列 */
    /* grid-template-rows: repeat(3, 100px); 3行--每行高度为100px */
    max-width: 2000px;
    position: relative;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    grid-column-gap: 20px; /* 列之间的水平间距*/
    grid-row-gap: 200px;/* 间距 */
}

.contentbox{
    width: 350px;
    height: 300px;
    /* margin: 20px; */
    position: relative;
    /* display: inline-block; */
    box-shadow: 5px 5px 10px 0px lightgray;
    border-radius: 10px;
    margin: 0 auto;

}

.decompose{
    background-image: url("decompose.JPG");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.alter{
    background-image: url("the\ altar.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}
.school{
    background-image: url("the\ school.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}
.illustration{
    background-image: url("illustration.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}
.mask {
    background-image: url("mask.JPG");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}
.poster {
    background-image: url("poster.JPG");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}
.self {
    background-image: url("SELF\ EXPLORATION.JPG");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}
.ocean {
    background-image: url("ocean.JPG");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}
.moment {
    background-image: url("moment.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}
.orca {
    background-image: url("orca.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}

.wholebox h2{
    color: #FFE;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
}

.contentbox:hover{
    scale: 0.97;
    box-shadow: none;
}

@media screen and (max-width: 1441px) {
    .navbar {
        border-radius: 99px; /* Set the border-radius to 10px for smaller screens */
        right: 10px; /* Adjust the position for smaller screens */
        top: 10px; /* Adjust the position for smaller screens */
    }
    .navbar input{
        width: 30px;
        height: 30px;
    }

    .navbar span {
        width: 20px; /* Set the width to 20px for smaller screens */
        top: calc(50% - 5px); /* Adjust the position for smaller screens */
    }
    .navbar ul li a{
        font-size: 25px;
    }
    .navbar span{
        left: 25px;
    }

    h1 {
        font-size: 78px; 
        margin-top: 20px; 
        margin-bottom: 40px; 
    }

    .contain {
        /* grid-template-columns: repeat(2, 1fr); 
        grid-row-gap: 40px; */
        max-width: 900px;
    }
}
