@font-face {
    font-family: plaster;
    src: url("Plaster-Regular.ttf")
}
@font-face {
    font-family: modak;
    src: url("Modak-Regular.ttf")
}
@font-face {
    font-family: paytone;
    src: url("PaytoneOne-Regular.ttf")
}

body{
    background-image: url("background.png");
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

h1{
    color: #FFF;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "plaster";
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
}

.work{
    display: flex;
    justify-content: center;
    color: #FFE;
    font-size: 54px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-family: "paytone";
    margin-bottom: 30px;
    margin-top: 60px;

}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.artwork{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.text{
    z-index: 1;
}
.circle{
    width: 118px;
    height: 118px;
    border-radius: 100%;
    background-color: #FF016C;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;

}
.wholebox a{
    margin: 0 auto;
    width: 350px;
    height: 200px;
    display: contents;
}

.contain {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* 4列 */
    /* grid-template-rows: repeat(3, 100px); 3行--每行高度为100px */
    max-width: 2000px;
    position: relative;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    grid-column-gap: 20px; /* 列之间的水平间距*/
    grid-row-gap: 200px;/* 间距 */
}

.contentbox{
    width: 350px;
    height: 300px;
    /* margin: 20px; */
    position: relative;
    /* display: inline-block; */
    box-shadow: 5px 5px 10px 0px lightgray;
    border-radius: 10px;
    margin: 0 auto;

}

.decompose{
    background-image: url("decompose.JPG");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.alter{
    background-image: url("the\ altar.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}
.school{
    background-image: url("the\ school.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}
.illustration{
    background-image: url("illustration.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}
.mask {
    background-image: url("mask.JPG");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}
.poster {
    background-image: url("poster.JPG");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}
.self {
    background-image: url("SELF\ EXPLORATION.JPG");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}
.ocean {
    background-image: url("ocean.JPG");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}

.wholebox h2{
    color: #FFE;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
}

.contentbox:hover{
    scale: 0.97;
    box-shadow: none;
}


nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    /* gap: 200px; */
   
    font-family: "modak";
    font-weight: 400;
    font-style: normal;
} 

nav a{
    position: relative;
    /* display: block;
    float: left;
    
    line-height: 50px;
    width: 100px;
    height: 50px; */
    margin-left: 100px;
    margin-right: 100px;
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    z-index: 10;
}

