body{
    height: 100%;
    margin: 0;
    width: 100%;
    background-color: #ffffff;
    background-image: url(background.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    background: linear-gradient(180deg, #FFE7E7 0%, #FFFCAD 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "rubik";
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
}
@font-face {
    font-family: rubik;
    src: url("RubikGlitch-Regular.ttf")
}
@font-face {
    font-family: mochiy;
    src: url("MochiyPopOne-Regular.ttf")
}
/* navigation bar */
nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-family: "mochiy";
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-weight: 300;
    font-style: normal;
} 

nav a{
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    z-index: 10;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;

}
.artwork{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.text{
    z-index: 1;
    color: #FF42A8;
    font-size: 35px;
}
.circle{
    width: 118px;
    height: 118px;
    border-radius: 100%;
    background-color: #FFDFE1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.vedio{
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}